<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
    <link rel="stylesheet" href="../css/categories.css" />
  </head>
  <body>
    <section class="formulary">
        <form action="" class="formulary__form">
            <input type="text" name="description" placeholder="Descripción de la categoría" >
            <input type="text" name="description" placeholder="Nombre de la categoría" >
        </form>
    </section>
  </body>
</html>
